/* css styles */

body {
 font-family: Roboto !important;
}

.twitter-tweet {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.navbar {
  background-color: #073642;
  color: #cacccd;
}

.quarto-title-banner {
    background: #073642;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: #343a40a6;
}

code {
    color: #cacccd;
}

.blockquote {
    color: #cacccd;
}